@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-colored {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#889696, #889696);
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%;
}

.LINE {
  list-style: none;
  position: relative;
}

.LINE:before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.2rem;
  bottom: 0;
  margin: auto;
  width: 15px;
  height: 2px;
  background-color: #b8bdb5;
}
